In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

Reading the csv files

In [ ]:
df1 = pd.read_csv(r"C:\Users\himan\AppData\Local\Packages\Microsoft.Office.OneNote_8wekyb3d8bbwe\AppData\Local\Jyotsana\Programming\MIT\Student\student-mat.csv",delimiter=";")
df2 = pd.read_csv(r"C:\Users\himan\AppData\Local\Packages\Microsoft.Office.OneNote_8wekyb3d8bbwe\AppData\Local\Jyotsana\Programming\MIT\Student\student-por.csv",delimiter=";")

handling grade columns for the data

In [ ]:
df1 = df1.rename(columns={"G1": "MG1", "G2": "MG2", "G3": "MG3"})
df2 = df2.rename(columns={"G1": "PG1", "G2": "PG2", "G3": "PG3"})

adding necessary data

In [ ]:
df1["subject"] = "math"
df2["subject"] = "portuguese"

finding and removing null values

In [ ]:
a = df1.isnull().sum()
b = df2.isnull().sum()
clean_df1 = df1.dropna()
clean_df2 = df2.dropna()

checking shape of data and data types

In [ ]:
df1_shape = clean_df1.shape
df1_type = clean_df1.dtypes

In [ ]:
df2_shape = clean_df2.shape
df2_type = clean_df2.dtypes

merging the data to get the clean information of both data sets together

In [ ]:
merged_data = pd.concat([clean_df1, clean_df2], ignore_index=True)

In [ ]:
#getting index points of similar data
a = merged_data.columns.get_loc('school')
b = merged_data.columns.get_loc('absences') + 1

In [ ]:
#set of columns which are simillar
set = merged_data.columns[a:b].tolist()
modified_data = merged_data.drop_duplicates(subset=set, keep='first')

CALCULATIONS:-

Average Final Grade-

In [ ]:
#maths
avg_m = clean_df1["MG3"].mean()
print("Average Final Grade for Maths:", avg_m)

In [ ]:
#porteguese
avg_p = clean_df2["PG3"].mean()
print("Average Final Grade for Portuguese:", avg_p)

In [ ]:
#both subjects together
avg_b = pd.concat([clean_df1["MG3"], clean_df2["PG3"]]).mean()
print("Average Final Grade for Both Subjects:", avg_b)
print("\n\n")

Number of Students who scored above 15-

In [ ]:
print("Number of Students who scored above 15 in Maths:", (clean_df1["MG3"]>15).sum())
print("Number of Students who scored above 15 in Portuguese:", (clean_df2["PG3"]>15).sum())
print("Number of Students who scored above 15 in Both Subjects:", (pd.concat([clean_df1["MG3"], clean_df2["PG3"]])>15).sum())

My clean_df1["MG3"]>15 checks the value of MG3 if its greater than 15 it gives true else false and as we know 1 is for true and 0 for false. So, when we sum it we get the sum of these 1 and 0's i.e, count of the students who scored above 15 points. 
This same goes for porteguese and for both subjects together also

In [ ]:
print("\n\n")

Studytime correlation with Performance-

We can see it by using corr function in study time (provided) and performace (scores of G3)

In [ ]:
#maths
corr_m = clean_df1["studytime"].corr(clean_df1["MG3"])
print("Correlation between Study Time and Performance in Maths:", corr_m)

In [ ]:
#portuguese
corr_p = clean_df2["studytime"].corr(clean_df2["PG3"])
print("Correlation between Study Time and Performance in Portuguese:", corr_p)

In [ ]:
#both subjects
corr_b = pd.concat([clean_df1["studytime"], clean_df2["studytime"]]).corr(pd.concat([clean_df1["MG3"], clean_df2["PG3"]]))
print("Correlation between Study Time and Performance in Both Subjects:", corr_b)

(positive correlation means as study time increases performance also increases and as negative correlation means as study time increases performance decreases)

In [ ]:
print("\n\n")

Average Gender Performance-

We can find it by using G3 score and grouping it on basis of gender

In [ ]:
#maths
gen_perf_m = clean_df1.groupby("sex")["MG3"].mean()
print("Average Gender Performance in Maths:", gen_perf_m)

In [ ]:
#portuguese
gen_perf_p = clean_df2.groupby("sex")["PG3"].mean()
print("Average Gender Performance in Portuguese:", gen_perf_p)

In [ ]:
#both subjects
gen_perf_b = pd.concat([clean_df1.groupby("sex")["MG3"].mean(), clean_df2.groupby("sex")["PG3"].mean()], axis=1)
gen_perf_b.columns = ["Maths", "Portuguese"]
print("Average Gender Performance in Both Subjects:", gen_perf_b)

In [ ]:
print("\n\n")

VISUALIZATION:-

Histogram for Final Grades

In [ ]:
#maths
plt.hist(clean_df1["MG3"], bins=20, alpha=0.7, label="Maths", color='blue')
plt.xlabel("Final Grade")
plt.ylabel("Number of Students")
plt.title("Histogram of Final Grades")
plt.legend()
plt.show()

In [ ]:
#portuguese
plt.hist(clean_df2["PG3"], bins=20, alpha=0.7, label="Portuguese", color='green')
plt.xlabel("Final Grade")
plt.ylabel("Number of Students")
plt.title("Histogram of Final Grades")
plt.legend()
plt.show()

In [ ]:
#for both subjects
plt.hist(pd.concat([clean_df1["MG3"], clean_df2["PG3"]]), bins=20, alpha=0.7, label="Both Subjects", color='orange')
plt.xlabel("Final Grade")
plt.ylabel("Number of Students")
plt.title("Histogram of Final Grades")
plt.legend()
plt.show()

Scatterplot for Correlation of StudyTime and Performance

In [ ]:
#maths
plt.scatter(clean_df1["studytime"], clean_df1["MG3"])
plt.xlabel("Study Time")
plt.ylabel("Final Grade")
plt.title("Study Time vs Performance of Maths")
plt.show()

In [ ]:
#portuguese
plt.scatter(clean_df2["studytime"], clean_df2["PG3"], color='green', alpha=0.5)
plt.xlabel("Study Time")
plt.ylabel("Final Grade")
plt.title("Study Time vs Performance of Portuguese")
plt.show()

In [ ]:
#both
plt.scatter(pd.concat([clean_df1["studytime"], clean_df2["studytime"]]), pd.concat([clean_df1["MG3"], clean_df2["PG3"]]), color='orange', alpha=0.5)
plt.xlabel("Study Time")
plt.ylabel("Final Grade")
plt.title("Study Time vs Performance of Both Subjects")
plt.show()

Bar chart for Average Gender Performance

In [ ]:
#maths
bar_m = clean_df1.groupby("sex")["MG3"].mean()
bar_m.plot(kind='bar', color=['blue', 'pink'])
plt.xlabel("Gender")
plt.ylabel("Average Final Grade")
plt.title("Average Gender Performance in Maths")
plt.show()

In [ ]:
#portuguese
bar_p = clean_df2.groupby("sex")["PG3"].mean()
bar_p.plot(kind='bar', color=['blue', 'pink'])
plt.xlabel("Gender")
plt.ylabel("Average Final Grade")
plt.title("Average Gender Performance in Portuguese")
plt.show()

In [ ]:
#both subjects
bar_b = pd.concat([clean_df1.groupby("sex")["MG3"].mean(), clean_df2.groupby("sex")["PG3"].mean()], axis=1)
bar_b.columns = ["Maths", "Portuguese"]
bar_b.plot(kind='bar', color=['orange', 'yellow'])
plt.xlabel("Gender")
plt.ylabel("Average Final Grade")
plt.title("Average Gender Performance in Both Subjects")
plt.show()